.outer {
    width: 98.5%;
    margin-left: 10px;
    margin-bottom: 20px;
    height: 200px;
    white-space: nowrap;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

.outer div {
    width: 200px;
    background-color: #eee;
    float: none;
    margin: 0 0.25%;
    display: inline-block;
    zoom: 1;
}

.mainbody{
    position: absolute; 
    top: 0; 
    width: 100%;
    left: 0;
    background-image:linear-gradient(to bottom, #162e5e, #019CAD), url("../Images/background.jpg");
}

.labelclass{
    color: white;
    font-weight: bold;
    text-align:left;
    height: 60px;
    margin-left: 15px;
    left:10px;
    font-size: 45px;
    background: -webkit-linear-gradient(#eee, #333);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.htag{
    margin-left:15px;
    color: white;
    font-weight: bold;
}

#wrapper{
    overflow:hidden;
    position: relative;
    height: 70px; 
    width: 100%;
}

#c1{
   float:left;
   width: 50%;
}

#c2{
    float:right;
    width: 50%;
}

.sliderimg{
    width: 98%;
    margin-left: 10px;
    height: 500px;
    object-fit: cover
}

.zoom:hover {
    transition: transform 0.5s;
    box-shadow: 2px 2px 100px grey, -2px -2px 5px grey;
    transform: scale(1.1); /* (150% zoom)*/
}